/* #main{
	border:1px solid black;
} */
body{
	width:1200px;
	margin:0 auto;
	padding:0;
}
*{
	font-size:12px;
	font-family:"微软雅黑",Lyh-regular,helvetica,arical,sans-serif;
	color:#303030;
	box-sizing:border-box;
	 /*background:url(image/wrapper-bg.jpg) repeat;*/
}
p,pre,h1,h2,h3,h4,h5,h6,ul,ol,dl,dd{
	list-style:none;
	margin:0;
	padding:0;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
	color:#EA8101 !important;
}
.lf{float:left;}
.rf{float:right;}
.clear:after{
	content:"";
	display:block;
	clear:both;
}
/**********************************************************************/
#header{
	height:82px;
	padding:20px;
}
#header>div.logo{
	float:left;
	width:200px;
	height:50px;
	margin-right:40px;
}
#header>div.logo>a{
	float:left;
	width:200px;
	height:50px;
	margin-right:40px;
	font-size:38px;
	color:#303030;
	font-family: Arial;
}
#header>div.logo>a:hover{
	text-decoration:none;
}
#search{
	/*border:2px solid #EA8101;*/
	border:2px solid #F7A74B;
	border-radius:5px;
	float:left;
}
#search input{
	float:left;
	height:35px;
	width:450px;
	border:none;
	font-size:14px;
	outline:none;
}
#search button{
	float:left;
	height:35px;
	width:80px;
	font-size:14px;
	/*background:#EA8101;*/
	background:#F7A74B;
	color:#303030;
	/* font-weight:bold; */
	border:none;
}
#search button:hover{
	cursor:pointer;
}
#header>ul.login{
	float:left;
	margin:0 20px;
}
#header>ul.login>li{
	float:left;
	height:40px;
	line-height:40px;
}
#header>ul.login>li>a{
	color:#3f3c40;
	font-size:14px;
	margin:0 5px;
}
#header>div.record{
	float:left;
	width:60px;
	height:40px;
	line-height:40px;
	text-align:center;
}
#header>div.record>i{
	display:inline-block;
	width:16px;
	height:16px;
	background:url(../image/header_2663bc2.png) no-repeat -98px -237px;
}
#header>div.record>b{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#434343;
	vertical-align:middle;
}
#header>div.record>i:hover{
	background:url(../image/header_2663bc2.png) no-repeat -118px -237px;
}
#header>div.record>b:hover{
	cursor:pointer;
}



/************弹框 有问题****************/
#header>div.record{
	position:relative;
}

#header>div.record>div{
	display:none;
	position:absolute;
	top:30px;
	left:-75px;
	background:rgba(60,63,65,0.2);
	height:120px;
	width:200px;
	z-index:100;
}
#header>div.record:hover div.record>div{
	display:block;
}
/***********************************/



#header>div.uploading{
	float:left;
	width:60px;
	height:40px;
	line-height:40px;
	text-align:center;
}
#header>div.uploading>i{
	display:inline-block;
	width:14px;
	height:14px;
	background:url(../image/header_2663bc2.png) no-repeat -41px 0;
}
#header>div.uploading>b{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#434343;
	vertical-align:middle;
}
#header>div.uploading>i:hover{
	background:url(../image/header_2663bc2.png) no-repeat -99px -217px;
}
#header>div.uploading>b:hover{
	cursor:pointer;
}
/*#header>div.PC{*/
	/*float:left;*/
	/*width:60px;*/
	/*height:40px;*/
	/*line-height:40px;*/
	/*text-align:center;*/
/*}*/
/*#header>div.PC>i{*/
	/*display:inline-block;*/
	/*width:12px;*/
	/*height:12px;*/
	/*background:url(image/header_2663bc2.png) no-repeat -98px -293px;*/
/*}*/
/*#header>div.PC>b{*/
	/*width:0;*/
	/*height:0;*/
	/*border:4px solid transparent;*/
	/*border-top-color:#434343;*/
	/*vertical-align:middle;*/
/*}*/
/*#header>div.PC>b:hover{*/
	/*cursor:pointer;*/
/*}*/
#header>div.server{
	float:left;
	width:60px;
	height:40px;
	line-height:40px;
	text-align:center;
}
#header>div.server>i{
	display:inline-block;
	width:16px;
	height:13px;
	background:url(../image/header_2663bc2.png) no-repeat -20px -2px;
}
#header>div.server>b{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#434343;
	vertical-align:middle;
}
#header>div.server>b:hover{
	cursor:pointer;
}

/************************二、页面主导航*********************/
#nav{
	display:flex;
	justify-content:space-between;
	width:1200px;
	height:26px;
	margin:0 auto;
	margin-bottom:10px;
	border:1px solid #ddd;
	border-radius:13px;
	background:rgba(255,255,255,0.45);
}
#nav>ul{
	display:flex;
	width:1000px;
	height:26px;
	text-align:center;
	line-height:26px;
	margin-left:20px;
}
#nav>ul>li{
	margin:0 10px;
	height:26px;
	line-height:26px;
	width:55px;
}
#nav>ul>li>a{
	height:26px;
	width:55px;
	line-height:26px;
}
#nav>div{
	width:100px;
	height:26px;
	line-height:26px;
}
/************************三、页面主体部分*********************/
/*轮播新增样式*/
#slider li:hover{
	/*background-color:#e4393c;*/
	cursor:pointer;
}
#slider{
	position:relative;
	overflow: hidden;
	/*height: 240px;*/
}
#slider > img {   /*轮播广告的图片，绝对定位，zIndex为-1*/
	position: absolute;
	z-index: -1;
}
#slider > img.active {  /*显示在最上方的广告图片*/
	z-index: auto;
}
#slider ul{
	position:absolute;
	right:35px;
	bottom:25px;
}
#slider ul li.active {  /*当前显示出来的序号*/
	/*background: #e4393c;*/
	border-top:3px solid #fff;

}
/* 1. 轮播图 */
#slider{
	height:500px;
	/*background:#CDCDD1;*/
	background:url(../image/roll-img-01.jpg) no-repeat;
	background-size:cover;
	position:relative;
	border:none;
	margin-bottom:20px;
}
#slider>ul{
	display:flex;
	height:80px;
	position:absolute;
	bottom:0;
	padding:0 20px;
	width:1198px;
	/* background:rgba(234,129,1,0.3); */
}
#slider>ul>li{
	width:12%;
	text-align:center;
	padding:10px;
	margin-right:10px;
	border-top:3px solid transparent;
	border-radius:5px;
	background:rgba(60,63,65,0.1);
}
#slider>ul>li.special{
	border-right:none;
	margin-right:0;
}
#slider>ul>li:hover{
	border-top:3px solid #fff;
}
#slider>ul>li p{
	margin-top:10px;
}
/*变换背景图*/
/*#roll-img>div{
	position:relative;
}
#roll-img>div img{
	position:absolute;
	left:0;
	top:0;
	z-index: 0;
}
*/
/* 2.焦点 */
#today-focus{
	display:flex;
	width:1180px;
	margin:10px auto;
	border:1px solid #ddd;
	padding:10px;
	padding-bottom:0;
}

#today-focus ul.today-focus-center{
	margin-right:15px;
	margin-left:15px;
}
#today-focus ul.today-focus-left li{
	margin-bottom:10px;
}
#today-focus ul.today-focus-left li:nth-child(2) a:first-child{
	margin-right:10px;
}
#today-focus ul.today-focus-center li{
	margin-bottom:10px;
}
#today-focus ul.today-focus-center li a:first-child{
	margin-right:10px;
}
#today-focus ul.today-focus-right li{
	margin-bottom:10px;
}
#today-focus ul.today-focus-right li:nth-child(2) a:first-child{
	margin-right:10px;
}
#today-focus ul.today-focus-right li:nth-child(3) a:first-child{
	margin-right:10px;
}
#today-focus a{
	position:relative;
}
#today-focus span{
	position:absolute;
	bottom:5px;
	left:10px;
	color:#fff;
	padding:2px;
	background:rgba(79,76,74,0.2);
}
/*3.热播*/
div.hot-play{
	border:1px solid #ddd;
	margin-bottom:10px;
}
div.hot-play div.hot-play-header{
	border-bottom:1px solid #ddd;
	display:flex;
	padding:5px 0 5px 15px;
}
div.hot-play div.hot-play-header h1{
	line-height:30px;
	font-size:16px;
	padding-left:10px;
}
div.hot-play div.hot-play-main{
	display:flex;
	padding-top:10px;
	padding-bottom:10px;
	flex-wrap:wrap;
}
div.hot-play div.hot-play-main dl{
	margin-left:15px;
	margin-bottom:10px;
}
div.hot-play div.hot-play-main dl>dt img{
	width:182.5px;
}
div.hot-play div.hot-play-main dl dd:nth-child(2) a{
	color:#555;
	font-size:13px;
}
div.hot-play div.hot-play-main dl dd:nth-child(3){
	color:#999;
}
div.hot-play div.hot-play-main dl>dt a{
	position:relative;
}
div.hot-play div.hot-play-main dl>dt span{
	position:absolute;
	right:10px;
	bottom:10px;
	color:#fff;
	font-weight:bold;
	background:rgba(79,76,74,0.3);
	padding:2px;
}
/* 4.剧集 */
div.hot-play div.hot-play-header>b{
	display:inline-block;
	width:14px;
	height:23px;
	background:url(../image/g_0c02dfd.png) no-repeat 0 -260px;
	margin-left:20px;
	margin-top:5px;
}
div.hot-play div.hot-play-header>ul{
	display:flex;
	margin-left:10px;
	flex-grow:1;
}
div.hot-play div.hot-play-header>ul>li{
	font-size:14px;
	color:#555;
	margin-left:10px;
	line-height:30px;
	border-bottom:1px solid transparent;
}
div.hot-play div.hot-play-header>ul>li:hover{
	color:#EA8101;
	border-bottom-color:#EA8101;
	cursor:pointer;
}
div.hot-play div.hot-play-header>h2{
	padding-top:15px;
	font-size:13px;
	padding-left:10px;
	font-weight:normal;
	color:#555;
	padding-right:10px;
	/* vertical-align:top; */
}
/* 5.综艺 */
/* 6.广告 */
.advertisement{
	margin-bottom:10px;
}
/* 7.电影 */
a.only{
	position:relative;
}
a.only i{
	display:block;
	width:54px;
	height:54px;
	position:absolute;
	top:-264px;
	left:0px;
	background:url(../image/g_0c02dfd.png) no-repeat -71px -240px;
}
/**********主体底部信息**************/
#main-footer{
	width:422px;
	height:102px;
	margin:20px auto;
	background:url(../image/find-img2_ca39291.png);
	position:relative;
}
#main-footer span{
	position:absolute;
	top:3px;
	left:134px;
	color:#555;
	font-size:14px;
	/* font-weight:bold; */
}

/************************四、页面底部信息*********************/
#footer-top{
	width:1000px;
	margin:10px auto;
	display:flex;
}
#footer-top-left{
	border-right:1px solid #ddd;
	width:350px;
}
#footer-top p{
	color:#99A2AA;
	padding:10px 0 15px 10px;
}
#footer-top ul{
	display:flex;
	flex-wrap:wrap;
	padding-left:10px;
}
#footer-top ul>li{
	width:100px;
	margin-bottom:10px;
}
#footer-top-center{
	border-right:1px solid #ddd;
	width:350px;
	margin-left:30px;
}
#footer-top-right{
	display:flex;
	width:240px;
	margin-left:30px;
}
#footer-top-right div{
	width:70px;
	margin-left:20px;
	
}
#footer-top-right>div>b{
	display:block;
	width:56px;
	height:56px;
	background:url(../image/icons.png) no-repeat -1092px -195px;
	padding:10px;
}
#footer-top-right>div:hover{
	cursor:pointer;
}
#footer-top-right div>p{
	width:80px;
	padding-left:0;
}
#footer-top-right>div.weibo>b{
	background-position:-1092px -324px;
}
#footer-top-right>div.we-chat>b{
	background-position:-1092px -68px;
}
#footer-top-right>div.weibo>p,#footer-top-right>div.we-chat>p{
	width:80px;
	padding-left:6px;
}
#footer{
	width:1200px;
	margin-top:10px;
}
#footer>p{
	width:700px;
	margin:10px auto;
	text-align:center;
}
#footer>p>img{
	margin:0 10px;
}
#legal {
	text-align: center;
	font-size: 10px;
	color: #525252;
}
#legal a {
	border-bottom: 1px dotted #939393;
	text-decoration: none;
}